# Build folders
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE Specific
.idea/
*.iws
*.iml
*.ipr
out/
.settings/
.classpath
.project
.factorypath

# OS Specific
Thumbs.db
.DS_Store

# Sensitive local config
*.log
.env
application-local.properties